# ─── Required ────────────────────────────────────────────────────────────────
MONGODB_URI="mongodb+srv://<user>:<password>@cluster0.xxxx.mongodb.net/cbv3d?appName=Cluster0"
JWT_SECRET="your-super-secure-jwt-secret-min-32-chars"
NEXT_PUBLIC_APP_URL="https://oussema.up.railway.app"
NODE_ENV="production"

# ─── Optional (Stripe) ────────────────────────────────────────────────────────
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
